/* src/components/HorizontalNav.css */
.navbar-horizontal {
    display: flex;
    background-color: #020203;
    height: 10vh;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    filter: drop-shadow(0px 8px 8px #00000040);
}

a.nav-ho.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-link{
    width: 14vw;
    display: flex;
    justify-content: flex-start;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
}

a.nav-ho {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 8px;
    font-size: 20px;
}

a:hover.nav-ho {
    color: #E60000;
}