.header-container {
    display: inline-flex;
}

.main {
    display: flex;
}

.map-container {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
}

.LC-container {
    background-color: red;
    border-radius: .5rem;
    margin: 0 0.5em 0 0.5em;
}

.BC-container {
    background: #FBFBFB;
    border-radius: .5rem;
    height: 300px;
    width: 700px;
    margin-bottom: 5em;
}

.RBC-container {
    background: #FBFBFB;
    border-radius: .5rem;
    margin: 0 0.5em 0 0.5em;
}

.top-charts-container,
.bottom-charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RC-container {
    background: #282D30;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em 0 0.5em;
}